<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces of Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ul>
    <!--turning words on main page into links to other pages-->
    <li [routerLink] = "['/ulster']" routerDirection ="forward">Ulster</li>
    <li [routerLink] = "['/munster']" routerDirection ="forward">Munster</li>
    <li [routerLink] = "['/connaught']" routerDirection ="forward">Connacht</li>
    <li [routerLink] = "['/leinster']" routerDirection ="forward">Leinster</li>
  </ul>

  <h2>European Countries</h2>
  <!--iterating through arrays of countries-->
  <ul>
    <li *ngFor="let country of Countries">{{country.name}}, {{country.code}}</li>
  </ul>
</ion-content>
